[build.environment]
  NPM_FLAGS = "--prefix=/dev/null"
  NODE_VERSION = "14"
  PLAYWRIGHT_BROWSERS_PATH = "0"

[build]
  base = "vitepress/"
  publish = ".vitepress/dist"
  command = "npx pnpm i --store=node_modules/.pnpm-store && npx pnpm run build"