
:root {
  --c-green: #07bf7a;
  --c-green-light: #1dcb7a;
  --c-white-dark: #f8f8f8;
  --c-black: #111827;
  --c-black-light: #161f32;
  --c-black-lighter: #262a44;
  --c-text-dark-1: #d9e6eb;
  --c-text-dark-2: #c4dde6;
  --c-text-dark-3: #abc4cc;
  /* #f9fafb */

  --c-brand: var(--c-green);
  --c-brand-light: var(--c-green-light);
  --c-brand-text: var(--c-black);
  --c-bg-accent: var(--c-white-dark);
  --code-bg-color: var(--c-white-dark);
  --code-inline-bg-color: var(--c-white-dark);
  --code-font-family: 'dm', source-code-pro, Menlo, Monaco, Consolas,
    'Courier New', monospace;
  --code-font-size: 16px;
}

.code-block-component {
	--c-text: var(--c-black) !important;
  --c-active: var(--c-green) !important;
  /* --c-border: var(--c-green-light) !important; */
} 
html:not(.light):root .code-block-component {
	--c-text: var(--c-dark-1) !important;
	--c-active: var(--c-green) !important;
	--c-border: var(--c-black-lighter) !important;
}